* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

:root {
--primary: #351c75;
--secondary: #d292ef;
--grey: #a5a5a5;
font-size: 62.5%;
}

body {
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 90%;
}

header .highscore-title {
  font-size: 10px;
}

header .highscore-wrapper, header .timer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .highscore-title a {
  text-decoration: none;
  color:  var(--secondary);
  font-size: 1.4rem;
}

header .timer-wrapper {
  font-size: 1.6rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding: 10px;
}

.section-info {
  text-align: center;
  font-size: 1.6rem;
  width: 100%;
  padding: 10px;
}

.heading-title {
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.start-section-title {
  font-size: 2.5rem;
}

.start-section-info {
  text-align: center;
  font-size: 1.6rem;
  width: 100%;
  padding: 10px 50px;
  padding-bottom: 20px;
}

.btn {
  outline: none;
  border: none;
  display: inline-block;
  padding: 7px 15px;
  color: white;
  background: var(--primary);
  font-size: 1.6rem;
  border-radius: 5px;
  position: relative;
  top: -3px;
  box-shadow: 0 3px var(--grey);
  width: fit-content;
  height: auto;
  cursor:pointer;
}

.btn:hover {
  background: var(--secondary);
}

.quiz-section {
  align-items: flex-start;
  width: 60%;
}

.quiz-section-question {
  text-align: left;
}

.answer-btn {
  margin: 5px;
  min-width: 150px;
  padding: 10px 10px;
  text-align: left;
}

.answer {
  color: var(--grey);
  font-size: 20px;
  font-style: italic;
  border-top: 1px solid var(--grey);
  width: 100%;
  margin: 10px 0;
  padding: 10px 0;
}

.end-section {
  width: 40%;
  align-items: flex-start;
}

.end-section-title {
  text-align: left;
}

.end-section-info {
  text-align: left;
  padding: 1px 10px;
}

.initials-form {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.form-group-text-wrapper, .form-group-input-wrapper, .form-group-button-wrapper { 
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: auto;
}

.form-group-text-wrapper {
  width: 130px;
  display: flex;
  justify-content: flex-start;
}

.form-group-input-wrapper {
  flex: 1 1 50%;
}

.form-group-text {
  font-size: 1.6rem;
}

.restart-btn-wrapper {
  width: 100%;
  text-align: center;
}


.initials-input {
  width: 100%;
  height: 30px;
  font-size: 1.8rem;
}

.highscores-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.highscore-title {
  width: 100%;
}

.highscore-list {
  width: 100%;
  list-style-type: none; 
  margin: 5px 0 5px 0;

}

.highscore-list-item {
  margin: 5px;
  padding: 3px;
  padding-left: 10px;
  width: 100%;
  font-size: large;
  background-color: rgba(216, 137, 224, 0.8) ;
}

.back-btn a {
  text-decoration: none;
}

.back-btn, .clear-scores-btn {
  margin: 4px;
}

footer {
  font-size: 1.5rem;
}


@media screen and (max-width: 1350px) {
  .end-section {
    width: 60%;
  }

  .form-group-text-wrapper {
    width: 130px;
  }
  
  .form-group-input-wrapper {
    flex: 1 1 40%;
    min-width: 150px;
  }
  
  .form-group-button-wrapper {
    flex: 1 1 auto;
    min-width: 100px;
  }

  .quiz-section-question {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 560px) {
  body {
    min-width: 100px;
  }

  section {
    width: 100%;
  }

  header .highscore-title a {
    font-size: 1.2rem;
  }

  header .timer-wrapper {
    font-size: 1.4rem;
  }

  .heading-title {
    font-size: 1.8rem;
  }

  .start-section-info {
    text-align: center;
    font-size: 1.4rem;
    width: 100%;
    padding: 5px 5px;
    padding-bottom: 20px;
  }

  .quiz-section {
    width: 100%;
    align-items: center;
  }

  .quiz-section-question {
    font-size: 1.5rem;
  }

  .btn {
    font-size: 1.3rem;
  }

  .answer {
    font-size: 15px;
    margin: 5px 0;
    padding: 5px 0;
  }

  .end-section {
    width: 70%;
  }

  .form-group-text-wrapper {
    width: 130px;
  }
  
  .form-group-input-wrapper {
    width: 150px;
  }
  
  .form-group-button-wrapper {
    width: 150px;
  }

  .highscore-list-item {
    font-size: 1.4rem;
  }

  footer {
    font-size: 1rem;
  }
  
}